include README.md
recursive-include octoprint_IdexTouchUI/templates *
recursive-include octoprint_IdexTouchUI/config *
recursive-include octoprint_IdexTouchUI/gcode *
include versioneer.py
include octoprint_IdexTouchUI/_version.py
